body{
margin:0;
font-family:Arial;
background:#eef2f7;
}

.login-box{
width:300px;
margin:120px auto;
background:white;
padding:20px;
text-align:center;
border-radius:10px;
}

.login-box input, .login-box button{
width:90%;
padding:10px;
margin-top:10px;
}

.chat-container{
display:none;
height:100vh;
}

.sidebar{
width:20%;
background:#1e293b;
color:white;
padding:15px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.chat-box{
width:80%;
display:flex;
flex-direction:column;
}

.chat-header{
background:#2563eb;
color:white;
padding:15px;
font-size:18px;
}

.messages{
flex:1;
padding:10px;
overflow-y:auto;
background:white;
}

.myMsg{
background:#2563eb;
color:white;
padding:10px;
margin:8px;
border-radius:10px;
width:60%;
margin-left:auto;
}

.otherMsg{
background:#e2e8f0;
padding:10px;
margin:8px;
border-radius:10px;
width:60%;
}

span{
display:block;
font-size:10px;
margin-top:5px;
}

.input-box{
display:flex;
}

.input-box input{
flex:1;
padding:12px;
}

.input-box button{
padding:12px;
background:#2563eb;
color:white;
border:none;
}
